<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mis Llaves</h1>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Dispositivo</th>
        <th scope="col">Estado</th>
        <th scope="col">Compartida por</th>
        <th scope="col">Expira</th>
      </tr>
    </thead>
    <tbody>
      {% for llave in LLAVES %}
        <tr>
          <td>{{ llave.dispositivo.nombre }}</td>
          <td>{{ llave.estado }}</td>
          <td>{{ llave.dispositivo.usuario.first_name }} {{ llave.dispositivo.usuario.last_name }}</td>
          <td>{{ llave.fecha_expiracion }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>