<head>
	<title>Virtual Key</title>
	<meta charset="UTF-8">
	<meta name="description" content="Virtual Key">
	<meta name="keywords" content="Virtual Key">
	<meta name="author" content="Virtual Key">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include "scripts-include/js-include.html" %}

	<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>