{% load static %}
{% include 'General/header.html' %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">
<link rel="stylesheet" type="text/css" href="{% static 'css/General/signin.css' %}">
<form class="form-signin" action="/nuevousuario" method="POST">
  <h1>Crear Cuenta</h1>
  {% csrf_token %}
  <div class="form-group">
    <label for="NOMBRES">Nombres</label>
    <input type="text" class="form-control" id="NOMBRES" name="NOMBRES">
  </div>
  <div class="form-group">
    <label for="APELLIDOS">Apellidos</label>
    <input type="text" class="form-control" id="APELLIDOS" name="APELLIDOS">
  </div>
  <div class="form-group">
    <label for="CORREO">Correo</label>
    <input type="email" class="form-control" id="CORREO" name="CORREO">
  </div>
  <div class="form-group">
    <label for="CONTRASENA">Contraseña</label>
    <input type="password" class="form-control" id="CONTRASENA" name="CONTRASENA">
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>